<div>
    <h1>Contacto:</h1>
    <p>Contanos que precisas, si es una duda</p>
    <form id="mailForm" method="POST">
        <label>Email:</label>
        <input name="email">
        <br/>
        <label>Asunto:</label>
        <input name="asunto">
        <br/>
        <label>Mensaje:</label>
        <input name="mensaje">
        <input type="submit" name="submit">
    </form>
</div>
<script src="/js/contact.js"></script>