<div>
    <h3>Ingrese los datos del productos que quiere añadir al menú</h3>
    <form id="dishCreation" enctype="multipart/form-data" method="POST">
        <label>Nombre: </label> <input name="name">
        <label>Descripción: </label> <input name="description">
        <label>Categoria: </label> <input name="category">
        <label>Precio: </label> <input name="price">
        <label>Portada: </label> <input type="file" name="portrait">
    </form>
</div>

