<div>
    <h1>Ingrese sus datos para crear su cuenta</h1>
    <form id="registerForm">

        <label>Nombre:</label>
        <input name="name">
        <br/>
        <label>Email:</label>
        <input name="email">
        <br/>
        <label>Edad:</label>
        <input name="age">
        <br/>
        <label>Contraseña:</label>
        <input name="password">

        <input type="submit">
    </form>
    <p>¿Ya tenes una cuenta? <a href="/usuario/login">Ingresa acá</a></p>
</div>
<script src="/js/register.js"></script>