<div>
    <div>
        <h3>Creador de la página:</h3>
        <img src="/media/images/20240223_173117.jpg" alt="That's me :)">
        <p>Hernán Díaz (Chuni)</p>
    </div>
    <div>
        <h3>¿Por qué hiciste este sitio web?</h3>
        <p>Para prácticar como pueda, no debo *perder el calor* poder conservar mi habilidad con el desarrollo web, incluso si no soy experto al respecto. También hago esto para poder tener algo para el portafolio y mostrar que puedo hacer.</p>
    </div>
    <div>
        <h3>¿Donde puedo saber más de vos?</h3>
        <p>Tengo mi linkedin <a href="https://ar.linkedin.com/in/hernán-diaz-arroyuelo-899a72225">acá</a> si querés, si llegaste a ver este sitio por vos mism@ seguro lo hiciste por mi github.</p>
    </div>
</div>
<script src=""></script>