<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>{{title}}</title>

        <link rel="stylesheet" href="/style/main.css">
    </head>

    <body>

        <header>
            
            <div class="user-section">
                {{#if user}} <!-- Verifica si hay una sesión de usuario -->
                    <p>Hola {{user.name}}</p>
                {{/if}}
                {{#unless user}}
                    <a href="/usuario/login">Ingresa</a>
                    <a href="/usuario/register">Regístrate</a>
                {{/unless}}
            </div>
        </header>

        {{{body}}}

        <footer>
            <ul>
                <p>Conocenos:</p>
                <ul>
                    <li><a href="/nosotros/contacto">Contacto</a></li>
                    <li><a href="/nosotros">Nuestros miembros</a></li>
                </ul>
            </ul>
        </footer>
    </body>
</html>

